{% extends "../base.html" %}

{% block body %}
<div class="fluid">
    <div id="manager-row" class="row">
        <div id="local-manager" class="col">
            <div id="toolbar-left" class="btn-group btn-group-sm float-left" role="group" aria-label="Basic example">
                <button id="btn_home" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-home" title="home" aria-hidden="true"></span>
                </button>
                <button id="btn_parent" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-chevron-top" title="parent" aria-hidden="true"></span>
                </button>
                <button id="btn_refresh" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-reload" title="refresh" aria-hidden="true"></span>
                </button>
            </div>
            <div id="toolbar-right" class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                <button id="btn_create" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-folder" title="create" aria-hidden="true"></span>
                </button>
                <button id="btn_upload" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-cloud-upload" title="upload" aria-hidden="true"></span>
                </button>
                <button id="btn_rename" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-pencil" title="rename" aria-hidden="true"></span>
                </button>
                <button id="btn_copy" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-account-logout icon-flipped" title="copy" aria-hidden="true"></span>
                </button>
                <button id="btn_cut" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-external-link" title="cut" aria-hidden="true"></span>
                </button>
                <button id="btn_paste" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-account-login" title="paste" aria-hidden="true"></span>
                </button>
                <button id="btn_delete" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-trash" title="delete" aria-hidden="true"></span>
                </button>
            </div>
            <div id="dir-path">
                <input id="dir-path" type="text" class="form-control form-control-sm" readonly>
            </div>
            <table class="table table-sm table-bordered table-hover table-striped header-fixed">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody id="local_table_body">
                </tbody>
            </table>
            <nav id="table-pagination" aria-label="Page navigation example">
                <ul id="ul-pagination" class="pagination pagination-sm justify-content-end">
                </ul>
            </nav>
        </div>
        <div id="remote-manager" class="col">
            <div id="toolbar-left" class="btn-group btn-group-sm float-left" role="group" aria-label="Basic example">
                <button id="btn_home" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-home" title="home" aria-hidden="true"></span>
                </button>
                <button id="btn_parent" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-chevron-top" title="parent" aria-hidden="true"></span>
                </button>
                <button id="btn_refresh" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-reload" title="refresh" aria-hidden="true"></span>
                </button>
            </div>
            <div id="toolbar-right" class="btn-group btn-group-sm float-right" role="group" aria-label="Basic example">
                <button id="btn_create" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-folder" title="create" aria-hidden="true"></span>
                </button>
                <button id="btn_download" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-cloud-download" title="download" aria-hidden="true"></span>
                </button>
                <button id="btn_rename" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-pencil" title="rename" aria-hidden="true"></span>
                </button>
                <button id="btn_cut" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-external-link" title="cut" aria-hidden="true"></span>
                </button>
                <button id="btn_paste" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-account-login" title="paste" aria-hidden="true"></span>
                </button>
                <button id="btn_update" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-data-transfer-upload" title="update" aria-hidden="true"></span>
                </button>
                <button id="btn_delete" type="button" class="btn btn-light" onclick="this.blur();">
                    <span class="oi oi-trash" title="delete" aria-hidden="true"></span>
                </button>
            </div>
            <div id="dir-path">
                <input id="dir-path" type="text" class="form-control form-control-sm" readonly>
            </div>
            <table class="table table-sm table-bordered table-hover table-striped header-fixed">
                <thead>
                    <tr>
                    </tr>
                </thead>
                <tbody id="table_body">
                </tbody>
            </table>
            <nav id="table-pagination" aria-label="Page navigation example">
                <ul id="ul-pagination" class="pagination pagination-sm justify-content-end">
                </ul>
            </nav>
        </div>
    </div>
</div>
{% end %}

{% block javascript %}
<link href="{{ static_url('css/common.css') }}" rel="stylesheet" >
<link href="{{ static_url('css/storage.css') }}" rel="stylesheet" >
<script src="{{ static_url('js/common.js') }}"></script>
<script src="{{ static_url('js/storage.js') }}"></script>
<script type="text/javascript">
    var $table_header = $(".header-fixed > thead");
    var scrollBarSize = getBrowserScrollSize();
    window.onload = window.onresize = function(){
        $(document).ready(function(){
            var window_height = $(window).height();
            var window_width = $(window).width();
            $("tbody").height(window_height - 170);
            var tbody = document.getElementById("table_body");
            if (hasVerticalScrollBar(tbody)) {
                $table_header.css({"margin-right": scrollBarSize.width});
            }
            else {
                $table_header.css({"margin-right": 0});
            }
        });
    }

    $(document).ready(function(){
        var window_height = $(window).height();
        var window_width = $(window).width();
        $("tbody").height(window_height - 170);
        var tbody = document.getElementById("table_body");
        if (hasVerticalScrollBar(tbody)) {
            $table_header.css({"margin-right": scrollBarSize.width});
        }
        else {
            $table_header.css({"margin-right": 0});
        }
        storageInit('{{manager_host}}');
    });
</script>
{% end %}
